.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    /* border-block-end: 1px solid var(--gray10); */
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-logo .logo {
    width: 50px;
    height: 50px;
}

.header-logo .name {
    height: 50px;
}

.header-mid {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#user-icon {
    width: 30px;
    height: 30px;
}