.page {
    display: grid;
    grid-template-columns: 16.25rem 1fr;
    grid-template-rows: 6rem 1fr;
    block-size: 100vh;
    grid-template-areas: "header header" "sidebar calendar";
}

.page .header {
    grid-area: header;
    /* background-image: url("../images/background.jpg"); */
}

.page .sidebar {
    grid-area: sidebar;
}

.page .calendar {
    grid-area: calendar;
}

.page .sidebar {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1.5rem; */
    /* align-items: flex-start; */
    /* padding: 1.5rem; */
    margin: 10px;
}

.page .main {
    margin: 10px;
}
