html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.user-select-none {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.margin-auto {
    margin: auto;
}

.margin-bottom-25px {
    margin-bottom: 25px;
}

.color-red {
    color: red;
}

.color-white {
    color: white;
}

.color-blue {
    color: blue;
}

.color-violet {
    color: violet;
}

.color-dodgerblue {
    color: dodgerblue;
}

.background-color-white {
    background-color: white;
}

.background-color-white-dark {
    background-color: #f1f1f1;
}

.font-weight-bold {
    font-weight: bold;
}

.position-sticky {
    position: sticky;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.font-size-40px {
    font-size: 40px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-20px {
    font-size: 20px;
}

.border-1px {
    border: 1px;
}

.border-solid {
    border: solid;
}

.border-white-darker {
    border: #f1f1f1;
}

.padding-16px {
    padding: 16px;
}


/* DAD CHILD */

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.width-10percent {
    width: 10%;
}

.width-20percent {
    width: 20%;
}

.width-30percent {
    width: 30%;
}

.width-40percent {
    width: 40%;
}

.width-50percent {
    width: 50%;
}

.width-60percent {
    width: 60%;
}

.width-70percent {
    width: 70%;
}

.width-80percent {
    width: 80%;
}

.width-90percent {
    width: 90%;
}

.width-100percent {
    width: 100%;
}

.min-width-10percent {
    min-width: 10%;
}

.min-width-20percent {
    min-width: 20%;
}

.min-width-30percent {
    min-width: 30%;
}

.min-width-40percent {
    min-width: 40%;
}

.min-width-50percent {
    min-width: 50%;
}

.min-width-60percent {
    min-width: 60%;
}

.min-width-70percent {
    min-width: 70%;
}

.min-width-80percent {
    min-width: 80%;
}

.min-width-90percent {
    min-width: 90%;
}

.min-width-100percent {
    min-width: 100%;
}

.register-hr-box {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.full-width-btn {
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.full-width-btn:hover {
    opacity: 1;
}

.deletebtn {
    color: white;
    padding: 16px 20px;
    margin: 8px 16px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

.deletebtn:hover {
    opacity: 1;
}

.btn-green {
    background-color: #04AA6D;
}

.btn-red {
    background-color: #d4554e;
}

.account-top {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}